:root{

  --accent: #dba507;

    --primary-50: #ffffff;
    --primary-100: #e2ebfe;
    --primary-200: #c5d8fc;
    --primary-300: #a9c4f9;
    --primary-400: #8daff5;
    --primary-500: #729bf1;
    --primary-600: #5886ec;
    --primary-700: #3d70e7;
    --primary-800: #2358e1;
    --primary-900: #073bda;

    --secondary-50: #f8f9fa;
    --secondary-100: #e9ecef;
    --secondary-200: #dee2e6;
    --secondary-300: #ced4da;
    --secondary-400: #adb5bd;
    --secondary-500: #868e96;
    --secondary-600: #6c757d;
    --secondary-700: #495057;
    --secondary-800: #343a40;
    --secondary-900: #212529;

    --success-50: #dff0d8;
    --success-100: #d0e9c6;
    --success-200: #bce4b3;
    --success-300: #a8d9a8;
    --success-400: #91c090;
    --success-500: #78b77e;
    --success-600: #5f9c5f;
    --success-700: #468d48;
    --success-800: #2f803f;
    --success-900: #1b6025;

    --warning-50: #fcf8e3;
    --warning-100: #faf2cc;
    --warning-200: #f7ecb5;
    --warning-300: #f5e79e;
    --warning-400: #f2e18b;
    --warning-500: #eecc68;
    --warning-600: #d9b046;
    --warning-700: #b7862e;
    --warning-800: #936f1b;
    --warning-900: #7a5e0b;

    --danger-50: #f2dede;
    --danger-100: #ebcccc;
    --danger-200: #e0b8b8;
    --danger-300: #d69f9f;
    --danger-400: #ce8686;
    --danger-500: #c45e5e;
    --danger-600: #a83e3e;
    --danger-700: #8a2d2d;
    --danger-800: #701414;
    --danger-900: #591212;

    --info-50: #d9edf7;
    --info-100: #b9def0;
    --info-200: #9acfe9;
    --info-300: #81c6f1;
    --info-400: #6ab7e9;
    --info-500: #53a7d9;
    --info-600: #3c8db2;
    --info-700: #297ca3;
    --info-800: #1c6e7a;
    --info-900: #0f5161;

    --radius: .5rem;

    --fuente-titulos: 'Fjalla One', sans-serif;
    --fuente-texto: "Open Sans", sans-serif;
}

html, body{
  scroll-behavior: smooth;
}

body{
    background-color: var(--primary-100);
    font-family: var(--fuente-texto);
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
	  min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

button,
select,
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='checkbox'],
input[type='range'],
input[type='radio'] {
  cursor: pointer;
}

strong{
  font-weight: 700;
}

i{
  font-style: italic;
}

input,
select {
  display: block;
}

[type='checkbox'],
[type='radio'] {
  display: initial;
}

input, button, select, textarea {
  color: var(--primary-900);
  background-color: var(--secondary-50);
  font-family: inherit;
  font-size: 1rem;
  margin-right:  1rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: var(--radius);
  outline: none;
}
  
h1, h2, h3, h4, h5, h6{
  font-family: var(--fuente-titulos);
  font-weight: 400;
  font-style: normal;
}