.dash{
    display: grid;
    align-items: center;
    margin-block: auto;
}

.login{
    width: 80vw;
    max-width: 500px;
    margin-inline: auto;
    background-color: var(--secondary-100);
    padding: 2rem;
    border-radius: var(--radius);
    color:var(--secondary-50);
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
}

.login__title{
	font-weight: 700;
    font-size: 3rem;
    color:var(--primary-900)
}

@media screen and (min-width: 600px){
    .login{
        margin-block: 2rem;
    }
}
