
:root{

    --info:#5bc0de;
    --success:#5cb85c;
    --warning:#f0ad4e;
    --danger:#d9534f;

    --primary-50: #f7f7fe;
    --primary-100: #dadafc;
    --primary-200: #bcbdf9;
    --primary-300: #9ea0f6;
    --primary-400: #8183f4;
    --primary-500: #6366f1;
    --primary-600: #5457cd;
    --primary-700: #4547a9;
    --primary-800: #363885;
    --primary-900: #282960;

    --secondary-50: #f9fafb;
    --secondary-100: #f3f4f6;
    --secondary-200: #e5e7eb;
    --secondary-300: #d1d5db;
    --secondary-400: #9ca3af;
    --secondary-500: #6b7280;
    --secondary-600: #4b5563;
    --secondary-700: #374151;
    --secondary-800: #1f2937;
    --secondary-900: #111827;

    --radius: .5rem;
}

html, body{
  scroll-behavior: smooth;
}

body{
    background-color: var(--primary-100);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16pt;
	min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

button,
select,
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='checkbox'],
input[type='range'],
input[type='radio'] {
  cursor: pointer;
}

strong{
  font-weight: 700;
}

input,
select {
  display: block;
}

[type='checkbox'],
[type='radio'] {
  display: initial;
}

input, button, select, textarea {
  color: var(--primary-900);
  background-color: var(--secondary-50);
  font-family: inherit;
  font-size: 1rem;
  margin-right:  1rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: var(--radius);
  outline: none;
}
  
  