/**
* RESET
*/

*{
	box-sizing: border-box;
	font: inherit;
	margin:0;
	padding:0;
}

html{
	color-scheme:  light;
    hanging-punctuation: first last;
}

body{
	min-height: 100vh;
    overflow: scroll;
}

h1, h2, h3, h4, h5, h6{
	text-wrap: balance;
}

p{
	text-wrap: pretty;
}

img, figure, svg, video{
	display: block;
	max-width: 100%;
}