.badge{
    padding: .2rem .5rem;
    font-size: .8rem;
    font-weight: 400;
    margin-left: .5rem;
    border-radius: var(--radius);
    background-color: var(--primary-700);
    color: var(--secondary-50)
}