.cards{
    display:grid;
    gap: 1rem;
    padding-inline: 2rem;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  }

  .card{
    border-radius: var(--radius);
    background-color: var(--secondary-50);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1rem;
    flex: 1 1 auto;
    box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
    height: auto;
  }

  .card__header{
    height: 100%;
    max-width: 100%;
    flex: 1 1 auto;
  }
  
  .card__image{
    height: 100%;
    object-fit: cover;
    flex: 1 1 auto;
    }

    .card__category{
        font-size: .8rem;
        text-align: right;
        padding:.5rem 1rem;
    }

    .card__body,
    .card__footer{
        padding-inline:1rem;
        font-size: 1rem;
        margin-block: 1rem;
    }

    .card__body{
      max-height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
    }

    .card__title{
        font-weight: 700;
        font-size: 1.5rem;
        margin-block: 1rem;
    }

    .card__description{
        opacity: .6;
    }

    .card__services{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1rem
    }

    /*small*/



    .cardSmall{
      border-radius: var(--radius);
      background-color: var(--secondary-50);
      overflow: hidden;
      box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
      height: auto;
      display: flex;
      flex-direction: column;
    }
  
    .cardSmall__header{
      width:100%;
      aspect-ratio: 1/1;
    }
    
    .cardSmall__image{
      height: 100%;
      object-fit: cover;
      flex: 1 1 auto;
    }

    .cardSmall__container{
      width: 100%;
      padding-inline: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
      .cardSmall__body{
        padding-block: 1rem;
      }
  
      .cardSmall__title{
        font-size: 1rem;
        font-weight: 700;
      }
  
      .cardSmall__text, .cardSmall__category{
        font-size: .8rem;
      }
  
      .cardSmall__price{
        font-weight: 700;
        text-align: right;
        font-size: 1rem;
      }

      .cardSmall__services{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: end;
    }

      @media screen and (min-width: 600px) {
     
        
    }
    
    
    @media screen and (min-width: 768px) {
      .cardSmall{
        flex-direction: row;
      }
      .cardSmall__header{
        width: 30%;
        aspect-ratio: 1/1;
      }
    }

      /*extra small*/

    .card--xs{
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: normal;
      gap:.5rem;
      flex: none;
    }

    .card--xs .card__container{
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding:.8rem 0;
    }

    .card--xs .card__container *{
      margin:0;
      font-size: .8rem;
    }
 
    .card--xs .card__header{
      max-width: 20%;
    }
    
    .card--xs .card__image{
        flex: none;
        }
  
    .card--xs .card__category{
      text-align: right;
      width: 100%;
    }