.cards{
    display:grid;
    gap: 1rem;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
  }
  
  .card{
    border-radius: var(--radius);
    background-color: var(--secondary-50);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:.5rem;
    flex: 1 1 auto;
    box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
    height: auto;
    padding-bottom: .5rem;
    text-decoration: none;
    color: inherit;
    transition: all 500ms ease-in-out ;
  }

  .card  p{
    margin-bottom: 0;
  }

  .cards--ani:hover > *,
  .cards--ani:focus-within > * {
    filter: grayscale(1);
  }
  
  .cards--ani:hover > :hover,
  .cards--ani:focus-within > :focus {
    transform: scale(1.05);
    filter: grayscale(0);
    z-index: 10;
  }

  .card__image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    flex: 1 1 auto;
    }

    .card__category{
        font-size: .8rem;
        text-align: right;
        padding-inline:1rem;
        margin-top: .5rem;
    }

    .card__body,
    .card__footer{
        padding-inline:1rem;
        font-size: 1rem;
    }

    .card__body{
      max-height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
    }

    .card__title{
        font-weight: 700;
        font-size: 1.5rem;
    }

    .card__description{
        opacity: .6;
        display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
    }

    .card__services{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }


    /*card-small*/
    
.card-small{
  display:grid;
  grid-template-columns: 80px 1fr 1fr;
  grid-template-rows:1fr auto auto;
  grid-column-gap: 1rem;
  color:inherit;
  min-width: 300px;
  text-decoration: none;
  grid-template-areas:
  "image title title"
  "image txt txt"
  "image footer footer";
  background-color: var(--secondary-50);
  border-radius: var(--radius);
  overflow: hidden;
  background-color: var(--secondary-50);
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
  transition: all 500ms ease-in-out ;
}

.card-small p{
  margin-bottom: 0;
}

.card-small__image{
  grid-area: image;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.card-small__title{
  grid-area: title;
  font-weight: 700;
  font-size: 1rem;
  padding: 0 .5rem;
  align-self: center;
}

.card-small__text{
  grid-area: txt;
  font-size: .8rem;
  text-align: left;
  padding: 0 .5rem;
}

.card-small__footer{
  grid-area: footer;
  font-size: .8rem;
  text-align: right;
  padding: 0 .5rem;
}


/*card-extra-small*/
.card-extra-small{
  display: flex;
  max-width: 100%;
  flex-direction: row;
  border-radius: var(--radius);
  overflow: hidden;
  background-color: var(--secondary-50);
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color:inherit;
  transition: all 500ms ease-in-out ;
}

.card-extra-small__image{
  width: 60px;
  margin:auto;
}

.card-extra-small__title{
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  padding-inline: .5rem;
  align-self: center;
}
