.form{
    width: 90vw;
    font-size: 1rem;
    color: var(--primary-900)
}

.form__block{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 2rem;
    max-width: 90vw;
}

.form__input, 
.form__textarea, 
.form__select {
    margin:0;
    border: 2px solid var(--primary-900);
}

.form__textHelp{
    font-size:.8rem;
}

.form__fieldset{
    border:none;
    max-width: 100%;
}

.form__legend{
    font-weight: 700;
    font-size: 1.2rem;
}

.form__button{
    display: block;
    width: 100%;
    border: 2px solid var(--primary-900);
}

.form__button--primary{
    background-color: var(--primary-900);
    color:var(--secondary-50);
}

.form__button--secondary{
    background-color: transparent;
    color: var(--primary-900);
}

.form__button--tertiary{
    background-color: transparent;
    border-color: transparent;
    color: var(--primary-900);
}